.modal-content {
  &__name {
    text-transform: capitalize;
    justify-content: center;
    text-align: center;
    font-weight: bold;
  }

  &__wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  &__sprite {
      min-height: 150px;
      max-width: 150px;
  }

  &__text {
      &--bold {
          font-weight: bold;
      }

      &--capitalize {
          text-transform: capitalize;
      }
  }
}
