@import '../../../assets/scss/colors';

.modal-content {
  width: 100%;
  background: $color-white;
  border: 1px solid $color-blue-light;

  &__name {
    text-transform: capitalize;
    justify-content: center;
    text-align: center;
    font-weight: bold;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__sprite {
    min-height: 100px;
  }

  &__text {
    line-height: 1.5rem;
    &--bold {
      font-weight: bold;
    }

    &--capitalize {
      text-transform: capitalize;
    }
  }
}
