@import '../../assets/scss/colors';

.loader {
  display: inline-block;
  width: 80px;
  height: 80px;
  justify-content: center;
  align-items: center;
  &:after {
    content: ' ';
    display: block;
    width: 25px;
    height: 25px;

    border-radius: 50%;
    border: 6px solid $color-black;
    border-color: $color-black transparent $color-black transparent;
    animation: loader 1.2s linear infinite;
  }
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
